<!-- Single Slot content projection -->
<app-card>
  Card Content
</app-card>

<!-- Multi Slot content projection -->
<app-card>
  <!-- Using Directive -->
  <app-cardheader>
    Header
  </app-cardheader>

  Card Content

  <!-- Conditional Content Projection - using template reference variable -->
  <ng-template #cardContent2>
    Card Content 2
  </ng-template>

  <!-- Conditional Content Projection - using Directive -->
  <!-- We can change this to div *cardContent3 as well-->
  <ng-template cardContent3>
    Card Content 3
  </ng-template>

  <!-- Using attribute selector -->
  <ng-container footer>
    Footer
  </ng-container>
</app-card>

<app-tabs>
  <!-- Content projection using directive -->
  <div *tab="'tab1'">
    This is tab1 content
  </div>
  <div *tab="'tab2'">
    This is tab2 content
  </div>
  <div *tab="'tab3'">
    This is tab3 content
  </div>
</app-tabs>
